.page-head{
    background: url("../image/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container{
    width: 1280px;
    margin: 0 auto;
}

.card{
    display: inline-block;
    margin: 30px;
    width: calc(100% /3-43px);
}
.card-wrapper{
    width: 1130px;
    margin: 0 auto;
}
 .subtitle{
    text-align: center;
    color: white;
}